@import 'variables';

h2 {
  font-size: 12px;
  color: $fontColor;
  border: $borderStyle;
  display: $myDisplay;
}

// <header>
//   <div>
//     <h2>Hello</h2>
//     <p>Welcome to our site</p>
//   </div>
// </header>

header {
  font-size: 20px;
  color: yellow;

  div {
    background-color: orange;

    h2 {
      text-decoration: underline;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
}

.yet-another {
  border: 2px solid yellow;
}

.another {
  @extend .heading;
  @extend .yet-another;
  color: white;
}

@mixin createSquare($num, $color) {
  text-decoration: underline;
  border-radius: 15px;
  width: 2 * $num;
  height: $num;
  color: $color;
}

.square {
  @include createSquare(15px, pink);
}

.big-square {
  @include createSquare(75px, grey);
}
